
<h1 class="my-5 animated fadeIn fast container">Sobre Comic's </h1>
<hr>
<p class="my-5 animated fadeIn  container">
Esta aplicacion de comics me sirvio como una forma de explorar y experiementar el trabajar con peticiones HTTP y Api Rest,  esta dividia en dos secciones una de nombre Marvel y otra simplemente Heroes.
<br>
<br>


La primera esta conectada directamente a la base de datos de Marvel Comics y en el buscador que esta en esa seccion puede solicitarse informacion sobre los diferentes personajes de esa empresa.

<br>
<br>
La segunda es una base de datos local, mucho mas reducida y que tambien tiene un buscador pero solo cuenta con pocos personajes. 
</p>
