<div class="container-fluid">

      <div class="tituloBuscar">
<h1 class="my-3 text-light">Heroes <small>Maravel y DC</small></h1>
<div class="buscar">
        <input class="form-control me-2" type="search" placeholder="Buscar Heroe" (keyup.enter)='buscarHeroe(buscarTexto.value)' #buscarTexto aria-label="Search">
        <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-outline-primary" type="button">Buscar</button>
      </div>
      </div>
<hr class="mb-4">
<!---->
    <!-- tarjetas -->
    <div class="card-columns animated fadeIn fast">
      <app-tarjeta [hero]="hero" [index]="i" *ngFor="let hero of heroes; let i = index"></app-tarjeta>
    </div>
</div>
