
<div class="container">

<div class="card animated fadeIn" *ngFor=" let hero of superHeroes" >
        <img [src]="hero.img" class="card-img-top" alt="{{ hero.nombre }}">
      <div class="card-body">
        <h5 class="card-title">{{ hero.nombre }}</h5>
        <p class="card-text">{{ hero.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>
        <!--a class="btn btn-outline-primary" [routerLink]="['/heroe', i]">Ver detalles link...</a-->
      </div>
    </div>
    
</div>
