.tarjeta{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid gray;
  margin-top: 20px;
  border-radius: 8px;
  padding: 20px;
}
.text{
  margin-top: 20px;
  max-width: 400px;
}
.casa img{
  float: right;
  max-width: 150px;
}
.tarjeta .btn{
  width: 100%;
}
